<!-- <form action='/articles' method='POST'>
  Title: <input type='text' name='title'>
  Content: <input type='text' name='content'>
  <input type='submit' value='Enter'>
</form> -->

<!-- <label for="title">Title</label>
<input id="title" name="article[title]" type="text" />

<label for="content">Content</label>
<input id="content" name="article[content]" type="text" /> -->